<h1><%= @post.title %></h1>

<p> <%= @post.content %></p>

<h4>Categories:</h4>
<ul>
  <% @post.categories.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>


<h4>Comments:</h4>

  <% @post.comments.each do | comment| %>
    User: <%= comment.user.username  %>
    <%= comment.content %>
  <% end %>
